[submodule "common"]
	path = common
	url = ../common
[submodule "paper"]
	path = paper
	url = ../paper
[submodule "bungee"]
	path = bungee
	url = ../bungee
[submodule "velocity"]
	path = velocity
	url = ../velocity
